<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Portfolio</title>
</head>
<body>
    <nav id="menu">
        <a class="navbar-brand" href="#">
          <div class="btn-menu">
                  <label for="btn-menu">☰</label>
              </div>
          <input type="checkbox" id="btn-menu">
          <div class="container-menu">
            <div class="cont-menu">
              <nav>
                <a href="#">Portafolio</a>
                <a href="#">Servicios</a>
                <a href="#">Suscribirse</a>
                <a href="#">Facebook</a>
                <a href="#">Youtube</a>
                <a href="#">Instagram</a>
              </nav>
              <label for="btn-menu">✖️</label>
            </div>
          </div>
        </a>
      </nav>
<app-navegador></app-navegador>

<app-encabezado></app-encabezado>
<app-acerca-de></app-acerca-de>
 <app-educacion></app-educacion>
<app-experiencia-laboral></app-experiencia-laboral>
<app-skill-head></app-skill-head>
<app-proyectos></app-proyectos>
<app-footer></app-footer>


</body>
</html>

