<div class="card mat-card" id="firstcard">
    <div id="portada">
        <div id="video">
          <video autoplay="autoplay" > <source src="../assets/36050907.mp4" type="video/mp4" ></video>
          <div class="btn-edit" id="video"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        </div>
    </div>
    <div id="foto-perfil">
        <img src="../../assets/Foto de mi Portfolio.png">
        <div class="btn-edit" id="foto-perfil"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>
    <div id="info-perfil" *ngIf="persona" >
        <h2>{{persona.nombre}} {{persona.apellido}}</h2> 
<div id="info">
        <h3>{{persona.img}}</h3>
      </div>  
      <button type="text">Añadir sección</button>
    </div>
</div>